* {
  background-color: rgb(236, 236, 226);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: sans-serif;
}

body {
  padding: 1em;
  background-color: rgb(235, 237, 239);
}
nav {
  margin: 1em auto 3em auto;
  width: min (1000px, 100%);
}
nav,
ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
  justify-content: space-between;
}
nav,
a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  border-radius: 1em;
}
.container2 {
  flex: 0 1 34em;
}
.container2,
p {
  margin: 1em 0 1.5em 0;
  font-size: 1.25rem;
}
.quote {
  background-color: aliceblue;
}
#footer {
  background-color: black;
  color: aliceblue;
  position: relative;
  height: 20px;
  margin-top: 0px;
  text-align: center;
}
