* {
  background-color: rgb(236, 236, 226);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: sans-serif;
}

img {
  width: 600px;
  height: 400px;
  align-items: center;
}
h1 {
  font-size: 1;
}

nav {
  margin: 1em auto 3em auto;
  width: min (1000px, 100%);
}
nav,
ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2em;
  justify-content: space-between;
}
nav,
a {
  text-decoration: none;
}
/* .container {
  display: flex;
  flex-direction: column;
  align-content: center;
} */
.flex-container {
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  min-height: fit-content;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
  background-color: aliceblue;
  width: 70vw;
  margin: auto;
  border-radius: 1em;
  padding: 20px;
}
p {
  width: 600px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgb(226, 230, 234);
  height: 100vh;
}
#footer {
  background-color: black;
  color: aliceblue;
  position: relative;
  height: 20px;
  width: 100vw;

  text-align: center;
}
.pa {
  display: flex;
  align-items: center;
  flex-direction: column;
}
